.topNav {
    background-color: #1C2833;
    color: #F4D03F;
    font-size: 22pt;
    height: 3.5em;
    width: 100%;
    position: relative;
}

.topHeading{
    position: absolute;
    top: 50%;
    left: 42%;
    margin: -25px 0 0 -25px;
}

.topIcon {
    position: absolute;
    top: 50%;
    left: 40%;
    margin: -25px 0 0 -25px;
    font-size: 30pt;
}