.matTool {
    background-color: #34495E;
    color: #F4D03F;
}

.matCard {
    padding: 0px;
}

.loginForm {
    padding: 25px;
}

.loginBtn {
    background-color: #34495E;
    color: #F4D03F;
    font-size: 14pt;
}