<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25" class="matCard">
        <mat-toolbar class="matTool">Login Page</mat-toolbar>
        <form fxLayoutAlign="stretch" fxLayout="column" class="loginForm">
            <mat-form-field>
                <mat-label>Username</mat-label>
                <input matInput placeholder="Username">
            </mat-form-field>
            
            <mat-form-field>
                <mat-label>Password </mat-label>
                <input matInput type="password" placeholder="Password">
            </mat-form-field>

            <button mat-raised-button type="submit" class="loginBtn">Login</button>
        </form>             
    </mat-card>
</div>
